#eventsList {
	margin: 2em 1em;
}
.event {
	margin-top: 10px;
	padding-top: 5px;
	font-size: 20px;
	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
	div.info {
		float: left;
		width: 380px;
		margin-left: 20px;
	}
	div.poster {
		float: left;
		width: 440px;
		max-height: 100%;
		overflow: hidden;
		margin: 0;
		padding: 0 0 -3px 0;
		@include single-box-shadow(#000);
		* { margin: auto; }
	}
	div.name {
		font-size: 45px;
		line-height: 33px;
		color: darken(#7b7869, 20%);
		@include text-shadow(#fff 1px 1px 0);
	}
	div.datetime {
		margin-top: 10px;
		//font-size: 20px;
	}
	div.details {
		float: left;
		width: 300px;
	}
	div.cost {
		
	}
	div.description {
		margin-top: 10px;
	}
	div.sponsored_by {
		
	}
}

/* Posters. Need set heights... ugh */
#CoffeehAUS.poster {
	height: 295px;
}
#Krispy-Kreme-Samosas-Cupcakes.poster {
	height: 298px;
}
#Charity-Concert.poster {
	height: 289px;
}
#Silent-Auction.poster {
	height: 286px;
}
#Tokyo.poster {
	height: 330px;
}