/* AUS Charity Website Project 2012
 * Designer:
 *		Eric Schreiber
 * Developer:
 *		Parker Moore, http://www.parkermoore.de/
 */
 
@import "compass/css3";

@import "compass/reset";
@import "fonts/Crete_Round";

// Variables
$Crete-Round-Font-Stack: "Crete Round", "Arvo", Georgia, "Times New Roman", Times, serif;
$Base-Font-Size: 14px;
$Banner-Colour: #ec0017;

// General
body {
	font-family: $Crete-Round-Font-Stack;
	font-weight: lighter;
	font-size: $Base-Font-Size;
	line-height: $Base-Font-Size * 1.62;
	background-color: #f6f6f6;
}

a {
	color: white;
	text-decoration: none;
	@include text-shadow(#999 1px 1px 0);
	&:hover {
		text-decoration: underline;
	}
	&:visited {
		color: #f6f6f6;
	}
}

// Layout
#container {
	width: 909px;
	min-height: 400px;
	margin: 0 auto;
	background: image-url("background_texture.png") repeat-y;
}

#banner {
	position: fixed;
	background-color: $Banner-Colour;
	height: 37px;
	width: 910px;
	padding: 14px 0px 0px 10px;
	@include single-box-shadow(rgba(0,0,0,0.55), 0px, 0px, 4px);
	z-index: 100;
	margin-left: -7px;
	&:before {
		content: "";
		position: absolute;
		left: -10px;
		bottom: -9px;
		z-index: 1;
		border: 10px solid transparent;
		border-right-color: $Banner-Colour;
	}
	#logo {
		width: 90px;
		height: 100%;
		float: left;
		margin: -7px 0px 0px 20px;
		background-image: image-url("auslogo.png");
		background-repeat: no-repeat;
	}
	#branding {
		float: left;
		color: white;
		font-size: $Base-Font-Size * 2.8;
		width: 300px;
		height: 100%;
		text-align: center;
	}
	nav {
		float: left;
		display: block;
		width: 500px;
		a {
			font-size: $Base-Font-Size * 1.62;
			margin-right: 10px;
		}
		.active {
			text-decoration: underline;
		}
	}
}

// Specialized elements
#drawing {
	width: 900px;
	height: 369px;
	background: image-url('bannerdrawing.jpg');
	margin-left: 4px;
}
#buffer {
	width: 100%;
	height: 50px;
}

#content {
	padding: 10px 20px;
	color: #048629;
	@for $i from	1 through 6 {
		h#{$i} {
			font-size: $Base-Font-Size * (6.3-$i) ;
			line-height: $Base-Font-Size * (6.3-$i) * 1.62;
		}
	}
	h1, h2, h3, h4, h5, h6 {
		// Add styling
		color: darken(#7b7869, 20%);
		@include text-shadow(#fff 1px 1px 0);
	}
	.main_item {
		padding-top: 22px;
	}
}

#bottom {
	width: 920px;
	height: 100px;
	margin: 0 auto;
	background: image-url("background_bottom.png") no-repeat;
}

@import "about";
@import "events";
@import "sponsors";
@import "contact";
