<IfModule mod_rewrite.c>
	RewriteEngine on
	#RewriteBase /
	# for development
	RewriteBase /AUSCharity
	RewriteRule ^$ comingsoon.html [R=301,L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !=comingsoon.html
	RewriteRule (.*) comingsoon.html [R=301,L]
</IfModule>