/* AUS Charity Website Project 2012
 * Designer:
 *		Eric Schreiber
 * Developer:
 *		Parker Moore, http://www.parkermoore.de/
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: 'Crete Round';
  font-style: italic;
  font-weight: 400;
  src: local("Crete Round Italic"), local("CreteRound-Italic"), url("http://themes.googleusercontent.com/static/fonts/creteround/v2/5xAt7XK2vkUdjhGtt98unYo3ZslTYfJv0R05CazkwN8.woff") format("woff"); }

@font-face {
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  src: local("Crete Round"), local("CreteRound-Regular"), url("http://themes.googleusercontent.com/static/fonts/creteround/v2/ZCcPJiCGOzh84o2siPk48brIa-7acMAeDBVuclsi6Gc.woff") format("woff"); }

body {
  font-family: "Crete Round", "Arvo", Georgia, "Times New Roman", Times, serif;
  font-weight: lighter;
  font-size: 14px;
  line-height: 22.68px;
  background-color: #f6f6f6; }

a {
  color: white;
  text-decoration: none;
  text-shadow: #999999 1px 1px 0; }
  a:hover {
    text-decoration: underline; }
  a:visited {
    color: #f6f6f6; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

#container {
  width: 909px;
  min-height: 400px;
  margin: 0 auto;
  background: transparent url('../images/background_texture.png?1326079376') repeat-y;
  -moz-box-shadow: -10px -10px 10px #cccccc;
  -webkit-box-shadow: -10px -10px 10px #cccccc;
  -o-box-shadow: -10px -10px 10px #cccccc;
  box-shadow: -10px -10px 10px #cccccc; }

#banner {
  position: fixed;
  background-color: #ec0017;
  height: 37px;
  width: 910px;
  padding: 14px 0px 0px 10px;
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
  -o-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
  z-index: 100;
  margin-left: -7px; }
  #banner:before {
    content: "";
    position: absolute;
    left: -10px;
    bottom: -9px;
    z-index: 1;
    border: 10px solid transparent;
    border-right-color: #ec0017; }
  #banner #logo {
    width: 90px;
    height: 100%;
    float: left;
    margin: -7px 0px 0px 20px;
    background-image: url('../images/auslogo.png?1329424074');
    background-repeat: no-repeat; }
  #banner #branding {
    float: left;
    color: white;
    font-size: 39.2px;
    width: 300px;
    height: 100%;
    text-align: center; }
  #banner nav {
    float: left;
    display: block;
    width: 500px; }
    #banner nav a {
      font-size: 22.68px;
      margin-right: 10px; }
    #banner nav .active {
      text-decoration: underline; }

#drawing {
  width: 900px;
  height: 369px;
  background: url('../images/bannerdrawing.jpg?1326400338');
  margin-left: 4px; }

#buffer {
  width: 100%;
  height: 50px; }

#content {
  padding: 10px 20px;
  color: #048629; }
  #content h1 {
    font-size: 74.2px;
    line-height: 120.204px; }
  #content h2 {
    font-size: 60.2px;
    line-height: 97.524px; }
  #content h3 {
    font-size: 46.2px;
    line-height: 74.844px; }
  #content h4 {
    font-size: 32.2px;
    line-height: 52.164px; }
  #content h5 {
    font-size: 18.2px;
    line-height: 29.484px; }
  #content h6 {
    font-size: 4.2px;
    line-height: 6.804px; }
  #content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
    color: #44423a;
    text-shadow: white 1px 1px 0; }
  #content .main_item {
    padding-top: 22px; }

#bottom {
  width: 920px;
  height: 100px;
  margin: 0 auto;
  background: url('../images/background_bottom.png?1326079132') no-repeat; }

#welcomePage {
  font-size: 16px;
  line-height: 26.88px;
  margin: 0em 2em; }

#aboutPage {
  font-size: 16px;
  line-height: 26.88px;
  margin: 0em 2em; }

#eventsList {
  margin: 2em 1em; }

.event {
  margin-top: 10px;
  padding-top: 5px;
  font-size: 20px; }
  .event:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .event div.info {
    float: left;
    width: 380px;
    margin-left: 20px; }
  .event div.poster {
    float: left;
    width: 440px;
    max-height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0 0 -3px 0;
    -moz-box-shadow: 0px 0px 5px black;
    -webkit-box-shadow: 0px 0px 5px black;
    -o-box-shadow: 0px 0px 5px black;
    box-shadow: 0px 0px 5px black; }
    .event div.poster * {
      margin: auto; }
  .event div.name {
    font-size: 45px;
    line-height: 33px;
    color: #44423a;
    text-shadow: white 1px 1px 0; }
  .event div.datetime {
    margin-top: 10px; }
  .event div.details {
    float: left;
    width: 300px; }
  .event div.description {
    margin-top: 10px; }
  .event div.sponsored_by {
    font-size: 80%;
    margin-top: 15px; }

/* Posters. Need set heights... ugh */
#CoffeehAUS.poster {
  height: 295px; }

#Krispy-Kreme-Samosas-Cupcakes.poster {
  height: 298px; }

#Charity-Concert.poster {
  height: 289px; }

#Silent-Auction.poster {
  height: 286px; }

#Tokyo.poster {
  height: 330px; }

#Arts4Art-Fashion-Show.poster {
  height: 330px; }

#sponsorsList {
  font-size: 35px;
  line-height: 58.8px;
  margin: 0em 2em;
  list-style-type: disc; }
  #sponsorsList .sponsor a {
    color: #fafafa;
    text-shadow: black 1px 1px 0; }

#contactPage {
  font-size: 21px;
  line-height: 35.28px;
  margin: 0em 2em; }
  #contactPage:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

#general_inquiries {
  width: 47%;
  margin-right: 5%;
  float: left; }

#charity_week_coordinators {
  width: 45%;
  float: left;
  font-size: 16px;
  line-height: 26.88px; }
  #charity_week_coordinators p {
    margin-bottom: 10px; }
    #charity_week_coordinators p strong {
      font-weight: bold;
      letter-spacing: 1.5px; }
    #charity_week_coordinators p em {
      font-style: italic; }
